[client]
port      = 3306
socket    = /mysql/logs/mysql.sock
default-character-set=utf8

#ssl-ca   = /mysql/etc/cacert.pem
#ssl-cert = /mysql/etc/client-cert.pem
#ssl-key  = /mysql/etc/client-key.pem

[mysqladmin]
user      = shutdown
socket    = /mysql/logs/mysql.sock

[mysql]
no-auto-rehash
default-character-set=utf8

[mysqld]
user                 = docker
character-set-server = utf8
collation-server     = utf8_general_ci

#ssl
#ssl-ca   = /mysql/etc/cacert.pem
#ssl-cert = /mysql/etc/client-cert.pem
#ssl-key  = /mysql/etc/client-key.pem

port      = 3306
socket    = /mysql/logs/mysql.sock

datadir     = /mysql/data
#plugin_dir = /home/mysql/plugin/

innodb_data_home_dir      = /mysql/data
innodb_data_file_path     = ibdata1:100M:autoextend
innodb_buffer_pool_size   = 1024M
innodb_log_group_home_dir = /mysql/log

# 0.01 sec
#log-queries-not-using-indexes
long_query_time     = 2
slow_query_log      = 1
slow_query_log_file = /mysql/logs/slowquery.log
log-error           = /mysql/logs/error.log
pid-file            = /mysql/logs/mysql.pid

expire_logs_days=3
slave_compressed_protocol = 1

skip-external-locking
skip-name-resolve

key_buffer_size      = 512M
max_allowed_packet   = 16M
max_heap_table_size  = 128M
tmp_table_size       = 256M

table_open_cache     = 256
sort_buffer_size     = 8M
read_buffer_size     = 1M
read_rnd_buffer_size = 32M
thread_cache_size    = 120
query_cache_size     = 128M
table_cache          = 1024
myisam_sort_buffer_size = 64M

max_connections = 512
#table_lock_wait_timeout = 5
wait_timeout    = 1814400

log-bin         = mysql-bin
binlog_format   = mixed
max-binlog-size = 128M
relay-log       = relay-bin

skip-slave-start=1
server-id=1
#replicate-do-db=
#replicate-do-db=
#replicate-do-db=

innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 256M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 20

innodb_file_format=barracuda
innodb_buffer_pool_instances=2
innodb_strict_mode=1
innodb_file_per_table= 1
innodb_flush_method = 'O_DIRECT'
innodb_rollback_on_timeout = On
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_thread_concurrency = 0
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_fast_shutdown = 1
innodb_status_file=1
innodb_io_capacity=500
innodb_use_native_aio=1
innodb_purge_threads=1

innodb_support_xa=1
#performance_schema=1

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set=utf8

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
